.history
output
*.log
*.tmp
*.bak
*.swp
.DS_Store
node_modules
.env
.vscode
__pycache__/
/disk/deepdata/workspace/hch_workspace/code/vjepa2/app/__pycache__
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/